.contact-container {
  width: 100vw;
  min-height: 100vh;
  padding-top: 10rem;
  background: #faf8f0;
  overflow: hidden;
  font-family: sans-serif;
}

.heading-wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 3%;
  color: #601616;
}

.heading-wrapper .contact-title {
  font-size: 56px;
}

.heading-wrapper .contact-subtitle {
  text-align: center;
  font-weight: 400;
  font-size: 24px;
  width: 70%;
}

.location-title {
  text-align: center;
  font-size: 48px;
  margin: 3% 0 2% 0;
  color: #601616;
}

.location-area {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.contact-us-area {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
  padding: 100px 120px;

  align-items: center;
  /* position: relative; */
  min-height: calc(100vh);
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
}

/* LEFT SIDE */
.contact-details h2 {
  font-size: 42px;
  color: #601616;
  margin-bottom: 16px;
}

.subtitle {
  color: #601616;
  max-width: 380px;
  margin-bottom: 32px;
}

.contact-details p {
  margin-bottom: 12px;
  color: #444;
}

.contact-details .link,
.contact-details .support {
  text-decoration: underline;
  cursor: pointer;
}

/* RIGHT CARD */
.contact-box {
  background: #601616;
  border-radius: 20px;
  padding: 40px;
  color: white;
  height: fit-content;
}

.contact-box h3 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 32px;
}

/* FORM */
.form-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  margin-bottom: 16px;
}

input,
textarea {
  width: 100%;
  border: none;
  border-radius: 6px;
  padding: 12px 14px;
  font-size: 14px;
}

textarea {
  min-height: 120px;
  resize: none;
  margin-bottom: 24px;
}

/* BUTTON */
.submit-btn {
  width: 100%;
  background: #fff;
  color: #601616;
  border: none;
  border-radius: 6px;
  padding: 12px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.submit-btn:hover {
  opacity: 0.9;
}
